<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
    <div class="ui-g">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g-12">
          <h2> {{ editando ? ' Edição da categoria ' : 'Nova categoria' }}</h2>
        </div>

        <div class="ui-g-12">
          <h3>campos obrigatórios
            <span style="color: brown; margin-left: 3.5px;">*</span>
          </h3>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Descrição</label><span style="color: brown; margin-left: 3.5px;">*</span>
          <input pInputText minlength="5" required ngModel name="descricao" #descricao="ngModel"
            [(ngModel)]="categoria.descricao" />

          <app-message [control]="descricao" error="required" text="Informe a descrição"></app-message>

          <app-message [control]="descricao" error="minlength"
            text="Mínimo de {{ descricao?.errors?.minlength?.requiredLength }} caracteres.">
          </app-message>
        </div>

        <div class="ui-g-12 ui-md-12 ui-fluid"
          style="margin-left: 0%;margin-right: 83.33333333% !important; resize: none;">
          <label>Observação</label>
          <textarea pInputTextarea [rows]="5" [(ngModel)]="categoria.observacao" name="observacao">
          </textarea>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"
            class="ui-button-success btn-margin"></button>
          <button pButton type="submit" label="Voltar" routerLink="/categorias" class="ui-button-info"></button>
        </div>
      </form>
    </div>
  </p-card>
</div>