<div class="container-custom">
    <p-card styleClass="ui-card-shadow">
      <div class="ui-g">       
          <form autocomplete="off" (ngSubmit)="pesquisar()" class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <h1>Categorias</h1>
            </div>
  
            <div class="ui-g-12 ui-md-12 ui-fluid">
              <label> Descrição </label>
              <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao" />
            </div>
  
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar" class="ui-button-info"></button>
                <a pButton label="Adicionar" routerLink="nova" class="ui-button-success"
                    style="float: right"> </a>
            </div>
         </form>
  
      <div class="ui-g">
        <div class="ui-g-12">
          <p-table [value]="categorias" [responsive]="true"
                  [rows]="filtro.itensPorPagina" [paginator]="true"
                  [lazy]="true" [totalRecords]="totalRegistros" 
                  (onLazyLoad)="onMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id-tb-categoria">#</th>
                <th >Nome</th>
                <th class="col-acoes">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categoria>
              <tr>
                <td class="col-id-tb-categoria">{{ categoria.id }}</td>
                <td >{{ categoria.descricao }}</td>
              
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar"
                    [routerLink]="[ '/categorias', categoria.id ]"
                    tooltipPosition="top" style="margin-right: 5px">
                  </a>
                  <button pButton icon="pi pi-trash" class="ui-button-danger"
                          (click)="confirmExclusao(categoria.id, categoria.descricao)"
                          pTooltip="Excluir" tooltipPosition="top">
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="3">
                        Nenhum registro encontrado.
                    </td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    </p-card>
  </div>